In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [25]:
pre_negative = pd.read_csv('dataset/human_MiRNA_DATA.csv')
pre_negative.columns = ['seq_name']
pre_positive = pd.read_csv('dataset/')

In [26]:
pre_negative[:10]

                                            seq_name
0  >cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...
1                             UGAGGUAGUAGGUUGUAUAGUU
2  >cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...
3                             CUAUGCAAUUUUCUACCUUACC
4  >cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...
5                              UCCCUGAGACCUCAAGUGUGA
6  >cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...
7                             ACACCUGGGCUCUCCGGGUACC
8  >cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...
9                             CAUACUUCCUUACAUGCCCAUA

In [29]:
pre_negative['is_seq_name'] = pre_negative['seq_name'].str.find('>')

In [30]:
pre_negative[:10]

                                            seq_name  is_seq_name
0  >cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...            0
1                             UGAGGUAGUAGGUUGUAUAGUU           -1
2  >cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...            0
3                             CUAUGCAAUUUUCUACCUUACC           -1
4  >cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...            0
5                              UCCCUGAGACCUCAAGUGUGA           -1
6  >cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...            0
7                             ACACCUGGGCUCUCCGGGUACC           -1
8  >cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...            0
9                             CAUACUUCCUUACAUGCCCAUA           -1

In [35]:
seq_names = pre_negative.loc[pre_negative['is_seq_name'] == 0]
seq = pre_negative.loc[pre_negative['is_seq_name'] == -1]
seq_names = seq_names['seq_name']
seq = seq['seq_name']

In [36]:
seq_names[:10]

0     >cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...
2     >cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...
4     >cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...
6     >cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...
8     >cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...
10    >cel-miR-1-3p MIMAT0000003 Caenorhabditis eleg...
12    >cel-miR-2-5p MIMAT0020302 Caenorhabditis eleg...
14    >cel-miR-2-3p MIMAT0000004 Caenorhabditis eleg...
16    >cel-miR-34-5p MIMAT0000005 Caenorhabditis ele...
18    >cel-miR-34-3p MIMAT0015093 Caenorhabditis ele...
Name: seq_name, dtype: object

In [37]:
seq[:10]

1      UGAGGUAGUAGGUUGUAUAGUU
3      CUAUGCAAUUUUCUACCUUACC
5       UCCCUGAGACCUCAAGUGUGA
7      ACACCUGGGCUCUCCGGGUACC
9      CAUACUUCCUUACAUGCCCAUA
11      UGGAAUGUAAAGAAGUAUGUA
13     CAUCAAAGCGGUGGUUGAUGUG
15    UAUCACAGCCAGCUUUGAUGUGC
17     AGGCAGUGUGGUUAGCUGGUUG
19     ACGGCUACCUUCACUGCCACCC
Name: seq_name, dtype: object

In [43]:
negative_dataset = pd.DataFrame(columns = ['seq_name', 'sequence', 'is_miRNA'])

In [44]:
negative_dataset['seq_name'] = seq_names.to_list()

In [45]:
negative_dataset['sequence'] = seq.to_list()

In [46]:
negative_dataset['is_miRNA'] = 0

In [47]:
negative_dataset[:10]

,seq_name,sequence,is_miRNA
0,>cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...,UGAGGUAGUAGGUUGUAUAGUU,0
1,>cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...,CUAUGCAAUUUUCUACCUUACC,0
2,>cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...,UCCCUGAGACCUCAAGUGUGA,0
3,>cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...,ACACCUGGGCUCUCCGGGUACC,0
4,>cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...,CAUACUUCCUUACAUGCCCAUA,0
5,>cel-miR-1-3p MIMAT0000003 Caenorhabditis eleg...,UGGAAUGUAAAGAAGUAUGUA,0
6,>cel-miR-2-5p MIMAT0020302 Caenorhabditis eleg...,CAUCAAAGCGGUGGUUGAUGUG,0
7,>cel-miR-2-3p MIMAT0000004 Caenorhabditis eleg...,UAUCACAGCCAGCUUUGAUGUGC,0
8,>cel-miR-34-5p MIMAT0000005 Caenorhabditis ele...,AGGCAGUGUGGUUAGCUGGUUG,0
9,>cel-miR-34-3p MIMAT0015093 Caenorhabditis ele...,ACGGCUACCUUCACUGCCACCC,0

In [ ]:
def conver