In [44]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [107]:
pre_negative = pd.read_csv('dataset/human_MiRNA_DATA.csv')
pre_negative.columns = ['seq_name']
pre_positive = pd.read_csv('dataset/positive_dataset.csv')

In [46]:
pre_negative[:10]

                                            seq_name
0  >cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...
1                             UGAGGUAGUAGGUUGUAUAGUU
2  >cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...
3                             CUAUGCAAUUUUCUACCUUACC
4  >cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...
5                              UCCCUGAGACCUCAAGUGUGA
6  >cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...
7                             ACACCUGGGCUCUCCGGGUACC
8  >cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...
9                             CAUACUUCCUUACAUGCCCAUA

In [47]:
pre_negative['is_seq_name'] = pre_negative['seq_name'].str.find('>')

In [48]:
pre_negative[:10]

                                            seq_name  is_seq_name
0  >cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...            0
1                             UGAGGUAGUAGGUUGUAUAGUU           -1
2  >cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...            0
3                             CUAUGCAAUUUUCUACCUUACC           -1
4  >cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...            0
5                              UCCCUGAGACCUCAAGUGUGA           -1
6  >cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...            0
7                             ACACCUGGGCUCUCCGGGUACC           -1
8  >cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...            0
9                             CAUACUUCCUUACAUGCCCAUA           -1

In [49]:
seq_names = pre_negative.loc[pre_negative['is_seq_name'] == 0]
seq = pre_negative.loc[pre_negative['is_seq_name'] == -1]
seq_names = seq_names['seq_name']
seq = seq['seq_name']

In [50]:
seq_names[:10]

0     >cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...
2     >cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...
4     >cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...
6     >cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...
8     >cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...
10    >cel-miR-1-3p MIMAT0000003 Caenorhabditis eleg...
12    >cel-miR-2-5p MIMAT0020302 Caenorhabditis eleg...
14    >cel-miR-2-3p MIMAT0000004 Caenorhabditis eleg...
16    >cel-miR-34-5p MIMAT0000005 Caenorhabditis ele...
18    >cel-miR-34-3p MIMAT0015093 Caenorhabditis ele...
Name: seq_name, dtype: object

In [51]:
seq[:10]

1      UGAGGUAGUAGGUUGUAUAGUU
3      CUAUGCAAUUUUCUACCUUACC
5       UCCCUGAGACCUCAAGUGUGA
7      ACACCUGGGCUCUCCGGGUACC
9      CAUACUUCCUUACAUGCCCAUA
11      UGGAAUGUAAAGAAGUAUGUA
13     CAUCAAAGCGGUGGUUGAUGUG
15    UAUCACAGCCAGCUUUGAUGUGC
17     AGGCAGUGUGGUUAGCUGGUUG
19     ACGGCUACCUUCACUGCCACCC
Name: seq_name, dtype: object

In [57]:
negative_dataset = pd.DataFrame(columns = ['seq_name', 'sequence', 'is_mulberry_miRNA'])

In [58]:
negative_dataset['seq_name'] = seq_names.to_list()

In [59]:
negative_dataset['sequence'] = seq.to_list()

In [60]:
negative_dataset['is_mulberry_miRNA'] = 0

In [136]:
negative_dataset[:5]

,seq_name,sequence,is_mulberry_miRNA
0,>cel-let-7-5p MIMAT0000001 Caenorhabditis eleg...,UGAGGUAGUAGGUUGUAUAGUU,0
1,>cel-let-7-3p MIMAT0015091 Caenorhabditis eleg...,CUAUGCAAUUUUCUACCUUACC,0
2,>cel-lin-4-5p MIMAT0000002 Caenorhabditis eleg...,UCCCUGAGACCUCAAGUGUGA,0
3,>cel-lin-4-3p MIMAT0015092 Caenorhabditis eleg...,ACACCUGGGCUCUCCGGGUACC,0
4,>cel-miR-1-5p MIMAT0020301 Caenorhabditis eleg...,CAUACUUCCUUACAUGCCCAUA,0

In [108]:
header = pre_positive.iloc[0]
pre_positive = pd.DataFrame(pre_positive.values[1:], columns = header)

In [109]:
pre_positive[:5]

,mi_rna,l_5p,l_3p,l_reads,f_5p,f_3p,f_reads,b_5p,b_3p,b_reads,seq_5p_5_3,seq_3p_5_3,seq_premiRNA_5_3,premirna_location,mfe_kcal_per_mol_of premirna
0,mno-miRn1,1,0,1,2,0,2,10,0,10,CGTTCCCGTGGCGGTTGCAGGGC,-,TGTCGCCGTTCCCGTGGCGGTTGCAGGGCGAAGCTCTCTTCGTGAT...,C10452211:48:120:-,-46.6
1,mno-miRn2-1,18,0,18,11,0,11,5,0,5,TCTGATGGGGGCTGAAAATCA,-,GAAAGTAAGCTCTGATGGGGGCTGAAAATCAGCCCCCATCAGCCGC...,C10661187:10:94:-,-60.7
2,mno-miRn2-2,18,0,18,11,0,11,5,0,5,TCTGATGGGGGCTGAAAATCA,-,GATTGTCAGCTCTGATGGGGGCTGAAAATCAGTCCCCATCAGCCCC...,scaffold485:876133:876219:+,-57.1
3,mno-miRn2-3,18,0,18,11,0,11,5,0,5,TCTGATGGGGGCTGAAAATCA,-,TCAGCTCTGATGGGGGCTGAAAATCAGCCCCCATCAGCCCCCATGG...,C10789358:1:133:+,-98.8
4,mno-miRn2-4,0,18,18,0,11,11,0,5,5,-,TCTGATGGGGGCTGAAAATCA,CCCAATGGGGGCTGATTTTTAGCCCCCATTGGGGATGAAAGTCAGC...,scaffold1623:55201:55277:-,-60.9

In [122]:
p5_pos = pre_positive[['mi_rna','seq_5p_5_3']]
p3_pos = pre_positive[['mi_rna','seq_3p_5_3']]

In [123]:
p5_pos = p5_pos.loc[p5_pos['seq_5p_5_3'] != '-']
p3_pos = p3_pos.loc[p3_pos['seq_3p_5_3'] != '-']

In [125]:
p5_pos.columns = ['seq_name', 'sequence']
p3_pos.columns = ['seq_name', 'sequence']

In [128]:
positive_dataset = p5_pos.append(p3_pos, ignore_index = True)

In [129]:
positive_dataset['is_mulberry_miRNA'] = 1

In [130]:
positive_dataset[:5]

      seq_name                 sequence  is_mulberry_miRNA
0    mno-miRn1  CGTTCCCGTGGCGGTTGCAGGGC                  1
1  mno-miRn2-1    TCTGATGGGGGCTGAAAATCA                  1
2  mno-miRn2-2    TCTGATGGGGGCTGAAAATCA                  1
3  mno-miRn2-3    TCTGATGGGGGCTGAAAATCA                  1
4    mno-miRn3    ATATGAGGAAAGAATGATGAT                  1

In [134]:
print("Total positive examples: ", len(positive_dataset))

Total positive examples:  480

In [131]:
miRNA_dataset = positive_dataset.append(negative_dataset, ignore_index = True)

In [132]:
miRNA_dataset = miRNA_dataset.sample(frac = 1).reset_index(drop = True)

In [133]:
miRNA_dataset[:5]

,seq_name,sequence,is_mulberry_miRNA
0,>tca-miR-279a-3p MIMAT0008383 Tribolium castan...,UGACUAGAUCCACACUCAUUAA,0
1,>chi-miR-129-3p MIMAT0035937 Capra hircus miR-...,AAGCCCUUACCCCAAAAAGCAU,0
2,>ocu-miR-424-3p MIMAT0048444 Oryctolagus cunic...,CAAAACGUGAGGCGCUGCUAUA,0
3,>dvi-miR-929-5p MIMAT0035572 Drosophila virili...,AAAUUGACUCUAGUAGGGAGU,0
4,>dre-miR-2187-3p MIMAT0011297 Danio rerio miR-...,UUACAGGCUAUGCUAAUCUAUG,0

In [135]:
print("Total datapoints: ", len(miRNA_dataset))

Total datapoints:  49365

In [138]:
def seq_padding(seq, max_length):
    l = len(seq)
    n_pad = max_length - l
    pad = n_pad * 'X'
    seq_hat = seq + pad
    return seq_hat

In [139]:
def char2vec(dataset):
    base2idx = {'A':1,'C':2, 'T':3,'G':4,'U':3,'X':5}
    seq = dataset['sequence'].values
    str_len = [len(s) for s in seq]
    max_seq_len = max(str_len)
    n_seqs = len(seq)
    dset = np.zeros((n_seqs, max_seq_len))
    padded_seqs = [seq_padding(x, max_seq_len) for x in seq]
    for i, seg in enumerate(padded_seqs):
        strs = list(seg)
        vec = np.array([base2idx[i] for i in strs])
        dset[i,:] = vec
    return dset

In [142]:
dset_matrix = char2vec(miRNA_dataset)

In [143]:
dset_matrix.shape

(49365, 34)

In [146]:
labels = miRNA_dataset['is_mulberry_miRNA'].to_numpy()

In [149]:
np.save('./dataset/labels.npy', labels)
np.save('./dataset/data_matrix.npy', dset_matrix)